<nav class="navbar navbar-expand-lg " [ngClass]="{ 'scrolled': isScrolled }">

    <div class="container-fluid align-items-center text-center">
        <a class="navbar-brand logo" href="#"><img src="logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end align-items-center" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">COURSES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">IIUP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">TEACHERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<!-- --------- hero section ------------ -->

<div class="header-section">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="c1.jpeg" class="d-block w-100" alt="Image 1">
            </div>
            <div class="carousel-item">
                <img src="c2.jpeg" class="d-block w-100" alt="Image 2">
            </div>
        </div>
    </div>
    <div class="overlay-text">
        <p>Are you prepared to engage in the study of Islamic studies?</p>
        <h1>Join jamia islamabad</h1>
        <div class="btns d-flex">
            <button class="btn">Islamabad International university pakistan</button>
            <button class="btn">Tafheem e din course for womens admission form</button>
        </div>
    </div>
</div>

<marquee behavior="smooth" direction="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
    molestiae, illo debitis at consequatur labore quas vitae placeat qui recusandae maxime odit. Dolores officia non
    vitae dolore, error accusamus animi dignissimos reprehenderit, vel mollitia distinctio hic itaque repudiandae nemo
    tenetur ipsam incidunt ipsa architecto inventore. Corporis laboriosam fugit porro repudiandae illo. Suscipit alias
    animi labore ad repudiandae, optio, omnis nesciunt illum nihil commodi culpa, obcaecati consequuntur voluptatibus
    sapiente. Perferendis porro beatae consectetur nulla blanditiis eius voluptatum veniam quae et voluptatibus quasi
    consequuntur, sed ut distinctio eligendi iusto id facilis architecto tempore! Odit, nesciunt? Animi temporibus
    debitis, consequatur enim dolor possimus.</marquee>


<!-- --------- latest news --------------- -->
<section class="latest-news container my-5">
    <h2 class="text-center">LATEST NEWS</h2>
    <div class="row">
        <!-- News Item 1 -->
        <div class="col-md-12 mb-4">
            <div class="d-flex align-items-start border p-3">
                <div class="date-box text-center me-3">
                    <h3 class="mb-0">09</h3>
                    <p class="mb-0">January</p>
                </div>
                <div>
                    <h5>Roll Number Slip End Semester Examinations Fall 2024 <span
                            class="badge bg-success ms-2">NEW</span></h5>
                    <p class="mb-0"><a href="#" class="text-primary">Please click here to view detail.</a></p>
                </div>
            </div>
        </div>
        <!-- News Item 2 -->
        <div class="col-md-12 mb-4">
            <div class="d-flex align-items-start border p-3">
                <div class="date-box text-center me-3">
                    <h3 class="mb-0">03</h3>
                    <p class="mb-0">January</p>
                </div>
                <div>
                    <h5>Guidelines to use Digital method (Internet, Mobile App, ATM) to deposit AU Fee</h5>
                    <p class="mb-0"><a href="#" class="text-primary">Please click here to view detail.</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-12 mb-4">
            <div class="d-flex align-items-start border p-3">
                <div class="date-box text-center me-3">
                    <h3 class="mb-0">09</h3>
                    <p class="mb-0">January</p>
                </div>
                <div>
                    <h5>Roll Number Slip End Semester Examinations Fall 2024 <span
                            class="badge bg-success ms-2">NEW</span></h5>
                    <p class="mb-0"><a href="#" class="text-primary">Please click here to view detail.</a></p>
                </div>
            </div>
        </div>
        <!-- News Item 2 -->
        <div class="col-md-12 mb-4">
            <div class="d-flex align-items-start border p-3">
                <div class="date-box text-center me-3">
                    <h3 class="mb-0">03</h3>
                    <p class="mb-0">January</p>
                </div>
                <div>
                    <h5>Guidelines to use Digital method (Internet, Mobile App, ATM) to deposit AU Fee</h5>
                    <p class="mb-0"><a href="#" class="text-primary">Please click here to view detail.</a></p>
                </div>
            </div>
        </div>
        <!-- Add more news items similarly -->
    </div>
</section>


<!-- ---------- courses ------------  -->
<section class="courses container py-5">
    <h2 class="text-center mb-4">Religious Courses</h2>
    <div class="row g-4">
        <div class="col-md-4 col-lg-4">
            <div class="card shadow-sm">
                <img src="arabicCourse.jpg" class="card-img-top" alt="Aerospace">
                <div class="card-body text-center">
                    <h5 class="card-title">Arabic language </h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="card shadow-sm">
                <img src="dars.jpeg" class="card-img-top" alt="Engineering">
                <div class="card-body text-center">
                    <h5 class="card-title">Dars e Nizami </h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="card shadow-sm">
                <img src="memorizeHifz.webp" class="card-img-top" alt="Applied Sciences">
                <div class="card-body text-center">
                    <h5 class="card-title">hifz ul Quran </h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="card shadow-sm">
                <img src="tajweedRules.jpg" class="card-img-top" alt="Social Sciences">
                <div class="card-body text-center">
                    <h5 class="card-title">tajweed ul qirat</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ------------- language barrier------------ -->

<section class="language-section container-fluid">
    <div class="container text-center col-md-8">
        <h1>Overcome the Language Barrier with Multilingual Translation Services </h1>
        <button class="btn btn-danger">Learn more</button>
    </div>
</section>



<!-- ---------- golden words -->

<section class="main-content quotes">
    <div class="background-container">
        <img src="convocation.jpeg" alt="Jamia Islamabad Event" class="background-image">

        <div id="quoteCarousel" class="carousel slide quote-box d-flex align-items-center justify-content-center"
            data-bs-ride="carousel">

            <div class="carousel-inner ">

                <div class="carousel-item text-center active">
                    <blockquote>
                        <p>The wise man is the one who is always learning; the ignorant man is the one who thinks he
                            knows everything</p>
                        <cite>Hazrat Ali (R.A)</cite>
                    </blockquote>
                </div>
                <div class="carousel-item">
                    <blockquote>
                        <p>Human beings are members of a whole, in creation of one essence and soul. If one member is
                            afflicted with pain, other members uneasy will remain </p>
                        <cite>Sheikh Saadi</cite>
                    </blockquote>
                </div>
                <div class="carousel-item">
                    <blockquote>
                        <p>He who has a thousand friends has not a friend to spare, and he who has one enemy will meet
                            him everywhere</p>
                        <cite>Hazrat Ali (R.A)</cite>
                    </blockquote>
                </div>
                <div class="carousel-item">
                    <blockquote>
                        <p>A fool's mind is at the mercy of his tongue, and a wise man's tongue is under the control of
                            his mind</p>
                        <cite>Sheikh Saadi</cite>
                    </blockquote>
                </div>
                <div class="carousel-item">
                    <blockquote>
                        <p>He who has a thousand friends has not a friend to spare, and he who has one enemy will meet
                            him everywhere</p>
                        <cite>Hazrat Ali (R.A)</cite>
                    </blockquote>
                </div>

            </div>
            <!-- Carousel Indicators -->
            <div class="dots carousel-indicators">
                <button type="button" data-bs-target="#quoteCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true"></button>
                <button type="button" data-bs-target="#quoteCarousel" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#quoteCarousel" data-bs-slide-to="2"></button>
            </div>
        </div>
    </div>
</section>





<!-- --------- teachers section -------  -->
<div class="container my-5">
    <!-- <div class="card-slider-container">
      <div class="card-slider">
        
        <div class="card">
          <img src="Abdulshakoor.jpg" alt="">
          <div class="card-body">
            <h5 class="card-title">Abdul Shakoor</h5>
            <p class="card-text">Teacher</p>
          </div>
        </div>
      </div>
    </div> -->

  </div>
    















<!-- ----------- accordion -------------  -->

<section class="accordion-div d-flex justify-content-center">
    <div class="row col-md-8">

        <div class="wrapper col-md-6">
            <div class="main-title">FAQ</div>
            <input type="radio" id="radioYour Account" name="accordion" checked>
            <label class="item" for="radioYour Account">
                <div class="title">Your Account</div>
                <div class="content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis aliquid harum velit sed similique
                    exercitationem, quasi in, nulla quos accusamus nemo vel dolores. Est id sint dolore, deserunt
                    dolorum
                    accusantium.
                </div>
            </label>

            <input type="radio" id="radioPayment & Pricing" name="accordion">
            <label class="item" for="radioPayment & Pricing">
                <div class="title">Payment & Pricing</div>
                <div class="content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis aliquid harum velit sed similique
                    exercitationem, quasi in, nulla quos accusamus nemo vel dolores. Est id sint dolore, deserunt
                    dolorum
                    accusantium.
                </div>
            </label>

            <input type="radio" id="radioReturns & Refunds" name="accordion">
            <label class="item" for="radioReturns & Refunds">
                <div class="title">Returns & Refunds</div>
                <div class="content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis aliquid harum velit sed similique
                    exercitationem, quasi in, nulla quos accusamus nemo vel dolores. Est id sint dolore, deserunt
                    dolorum
                    accusantium.
                </div>
            </label>

            <input type="radio" id="radioShipping & Pickup" name="accordion">
            <label class="item" for="radioShipping & Pickup">
                <div class="title">Shipping & Pickup</div>
                <div class="content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis aliquid harum velit sed similique
                    exercitationem, quasi in, nulla quos accusamus nemo vel dolores. Est id sint dolore, deserunt
                    dolorum
                    accusantium.
                </div>
            </label>

            <input type="radio" id="radioViewing & Changing Orders" name="accordion">
            <label class="item" for="radioViewing & Changing Orders">
                <div class="title">Viewing & Changing Orders</div>
                <div class="content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis aliquid harum velit sed similique
                    exercitationem, quasi in, nulla quos accusamus nemo vel dolores. Est id sint dolore, deserunt
                    dolorum
                    accusantium.
                </div>
            </label>
        </div>
        <div class="col-md-6">
            <img src="lab.png" alt="">
        </div>
    </div>
</section>


<!-- ------ map ------------  -->
<div class="footer d-flex justify-content-center">
    <div class="row col-md-8 d-flex align-items-center justify-content-center">
        <div class="col-md-6 contact-container">
            <h1>Get in Touch</h1>
            <p>
                <i class="fas fa-home"></i>
                <a href="http://jamiaislamabad.edu.pk" target="_blank">jamiaislamabad.edu.pk</a>
            </p>
            <p>
                <i class="fas fa-map-marker-alt"></i>
                <a href="">85-B, Islamabad 44000</a>
            </p>
            <p>
                <i class="fas fa-phone-alt"></i>
                <a href="tel:0514868945">0514868945</a>
            </p>
            <p>
                <i class="fas fa-envelope"></i>
                <a href="mailto:jamiaislamabadtrust@gmail.com">jamiaislamabadtrustgmail.com</a>
            </p>
            <p>
                <a href="#">Legal Notice</a> |
                <a href="#">Privacy</a>
            </p>
        </div>

        <div class="col-md-6">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3320.6387285510436!2d73.0781257754993!3d33.6665216733045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38df95345b71833b%3A0xc2109aa05eb94f5d!2sJamia%20Islamabad%20Trust!5e0!3m2!1sen!2sus!4v1737736101886!5m2!1sen!2sus"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>